<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.webServer>
		<security>
			<access sslFlags="Ssl, SslNegotiateCert, SslRequireCert"/>
			<authentication>
				<anonymousAuthentication enabled="true" />
				<iisClientCertificateMappingAuthentication enabled="true" />
			</authentication>
		</security>
	</system.webServer>
</configuration>