<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/MintPlayer/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="PieterjanDeClippel" />
            <add key="ClearTextPassword" value="0073316f988953a7c6496ce47c7e8a6d02acac4c" />
        </github>
    </packageSourceCredentials>
</configuration>